body {
    margin: 0;
    padding: 0;
    font-size: x-large;
    background-color: rgb(240, 230, 218);
}

.titulo {
    margin: 0;
    text-align: center;
}

.titulo_nombre {
    margin: 0;
    text-align: center;
}

.seccion_header {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

.seccion_todo {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input {
    width: 370px;
    height: 48px;
    border-radius: 7px;
    border-color: wheat;
    font-size: large;
    outline: none;
}

.btn {
    width: 100px;
    height: 48px;
    font-size: large;
}

.eliminado {
    display: flex;
    flex-wrap: wrap;
    text-decoration: line-through;
    color: red;
    font-size: large;
}

h2 {
    margin: 0;
}

h3 {
    margin: 0;
}

.tarjeta {
    transition: 300ms;
    display: inline-block;
    border: 1px solid black;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    text-align: center;
    width: max-content;
    padding: 10px;
    border-radius: 10px;
}

.tarjeta:hover {
    transition: 300ms;
    cursor: pointer;
    background-color: rgb(243, 223, 237);
}